<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="utf-8">
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="AMASLINK is fast-growing free online classifieds with advanced security system. We provide a simple hassle-free solution to sell and buy almost anything, anytime,anywhere.">
	<meta name="author" content="Benson Michael Owen - OwenKz">
    <title>Amaslnk - Best Free Classified Ads - Post Ads</title>
    <meta name="title" Content="Amaslink Classified - Post Ads">

    <link rel="shortcut icon" href="/plugins/images/favicon.png" type="image/x-icon">
    
    <link rel="apple-touch-icon" href="/plugins/images/favicon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaslink Classifed - Post Ads">

    <meta itemprop="image" content="/assets/logo.png">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="Amaslink Classified">
   
    <meta property="og:image" content="/assets/logo.png"/>
    <meta property="og:image:type" content="png"/>
    <meta property="og:image:width" content="1180" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="www.amaslink.com/adintro">
    
    <meta name="twitter:card" content="summary_large_image">


        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="/plugins/images/favicon.png">
    
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/slick.min.css">
    <link rel="stylesheet" href="/css/venobox.min.css">
    <link rel="stylesheet" href="/css/splitting.css">
    <link rel="stylesheet" href="/css/keyframe-animation.css">
  
    <link rel="stylesheet" href="/css/general.css">

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/ads.css">

</head>
<body>
    <input type="hidden" id="fullnameContainer" value="<%=username%>">


    <!-- Start Top Section  -->
    <section class="topSection " id="topBarContainer">

    </section>
    <!-- End top section  -->
           <!-- Start navbar   -->
            <!-- <div class="backgroundParent"> -->
           <div class="navbar navbarContainer " id="navbarContainer">
               </div> 
           <!-- </div> -->
               <!-- Start Horizontal Navbar  -->
                <div class="containerForNav">
                    <!-- Left  -->
               <!-- <div class="navbar-left">
                   <div class="image_container">
                       <img src="/assets/logo.png" alt="Amaslink Logo">
                   </div>
               </div> -->
               <!-- End Left  -->
               <div class="horizontalNavbar navbarContainer">
                   

               </div>
                </div>
             
                <!-- End Horizontal navbar  -->
        <!-- END navbar Section  -->

        <div class="container pricing">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="panel-default text-center one">
                            <img src="/assets/service.png" alt="">
                            <div class="panel-body">
                                <h4>Things to know</h4>
                                <li>Users who wish to give their Ads top priority (i.e to appear on top of recent Ads)  can do this anytime by using the boost Ads button on their dashboard. This comes with an additional cost of $3.</li>
                            </div>
                    </div>
        
                </div>
                <div class="col-sm-2 text-center">
                    <div class="panel-default text-center">
                        <div class="panel-body">
                            <h4 class="">Normal Package</h4>
              
                            <h2><span>$</span><%=amount_one%></h2>
                                <ul>
                                    <li><i class="bi bi-check2"></i>Never Expire</li>
                                    <li><i class="bi bi-check2"></i>Unlimited ADS</li>
                                    <li><i class="bi bi-check2"></i>Google Map</li>
                                    <li><i class="bi bi-check2"></i>Unlimited Categories</li>
                                    <li><i class="bi bi-check2"></i>Up To 195 Countries</li>
                                    <li><i class="bi bi-check2"></i>Up To 5 AD Images</li>
                                    <li><i class="bi bi-check2"></i>AD Video</li>
                                </ul>
                            <hr class="hrr">
                            <p class="text-center">
                                </p><form method="POST" action="/charge" accept-charset="UTF-8">
                                    <input name="_token" type="hidden" value="<%=token%>">
                                <input type="hidden" name="package" value="<%= adPack %>">
                                 <input name="amount" type="hidden" value="<%=amount_one%>">
                                 <input class="btn btn-success" name="submit" style="text-transform:uppercase;" type="submit" value="Subscribe To Package">
                                </form>
                            <p></p>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-2 text-center">
                    <div class="panel-default text-center">
                        <div class="panel-body">
                            <h4 class="">Boosted Package</h4>
              
                            <h2><span>$</span><%=amount_two%></h2>
                                <ul>
                                    <li><i class="bi bi-check2"></i>Never Expire</li>
                                    <li><i class="bi bi-check2"></i>Unlimited ADS</li>
                                    <li><i class="bi bi-check2"></i>Google Map</li>
                                    <li><i class="bi bi-check2"></i>Unlimited Categories</li>
                                    <li><i class="bi bi-check2"></i>Priority Listing</li>
                                    <li><i class="bi bi-check2"></i>Up To 195 Countries</li>
                                    <li><i class="bi bi-check2"></i>Up To 5 AD Images</li>
                                    <li><i class="bi bi-check2"></i>AD Video</li>
                                </ul>
                            <hr class="hrr">
                            <p class="text-center">
                                </p><form method="POST" action="/charge" accept-charset="UTF-8"><input name="_token" type="hidden" value="<%=token%>">
                                    <input type="hidden" name="package" value="<%= adPack %>">
                                 <input name="amount" type="hidden" value="<%=amount_two%>">
                                 <input class="btn btn-success" name="submit" style="text-transform:uppercase;" type="submit" value="Subscribe To Package">
                                </form>
                            <p></p>
                        </div>
                    </div>
                </div>
        </div>
        </div>


    <!-- <div class="backgroundParent"> -->
        <Footer id="footerContainer">

        </Footer>
        <!-- </div> -->
        <script src="/js/footer.js"></script>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/66c02dbd146b7af4a43b6c6e/1i5fb5bab';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
      </script>

<script src="/js/jquery-1.12.4.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/venobox.min.js"></script>
<script src="/js/slideMain.js"></script>
<!--End of Tawk.to Script-->
  <script src="/js/navbar.js" type="module"></script>


  <div id="google_translate_element2">
    <div id="google_translate_element"></div>
  </div>
  <%- include ("googleTranslate") %>
</body>
</html>